.loading-spinner {
  background-color: rgba(14, 11, 11, 0.038);
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: grid;
}

.loading-spinner img {
  align-self: end;
}

.loading-message {
  text-align: center;
  align-self: start;
}
