.login-box {
  height: 100vh;
  display: grid;
  place-items: center;

  .login-form {
    padding: 10em;
    border: 2px solid black;

    input {
      width: 200px;
      display: block;
      margin-bottom: 10px;
    }

    .submit-button {
      float: right;
    }
  }
}
